body {
  background: lightgray;
}

.selected-action {
  color: white;
  background: red;
}

nav li {
  display: inline;
  padding: 1em;
  border: solid black 1px;
}

#pet {
  width: 200px;
  height: 200px;
  background: gray;
}

#pet img {
  display: none;
  position: absolute;
}

#pet .selected {
  display: initial;
  animation-name: image-pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes image-pulse {
  0% {opacity: 0%;}
  50% {opacity: 100%;}
  100% {opacity: 0%;}
}

.hidden {
  display: none;
}

.happy {
  background
}